body{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto';
}

header, .hero, footer {
    display: flex;
    background-color: #1F2937;
    color: white;
}

header, .hero{
    padding-left: 150px;
    padding-right: 150px;
    align-items: center;
}

.b-background {
    color: white;
}

.header {
    margin-right: auto;
}

header ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

header ul a {
    text-decoration: none;
}

.hero {
    padding-bottom: 60px;
    
}

.hero-content {
    margin-right: auto;
    font-weight: 900;
    font-size: 48px;
    flex-basis: 1/2;

}




