body{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto';
}

header, .hero, footer {
    display: flex;
    background-color: #1F2937;
    color: white;
}

header, .hero, .gallery-section, .testimonial{
    padding-left: 300px;
    padding-right: 300px;
    align-items: center;
}

.b-background {
    color: white;
}

.logo {
    margin-right: auto;
    font-size: 24px;
    font-weight: 900;
}

header ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

header ul a {
    text-decoration: none;
    font-size: 18px;
}

.hero {
    padding-top: 80px;
    padding-bottom: 80px;
    height: auto;
    flex: 1;
    
}

.hero-content {
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-basis: 40%;
}

.hero-content h1 {
    font-weight: 900;
    font-size: 48px;
}

.hero-content p {
    font-size: 18px;
}

.hero-content button {
    background-color: #3882f6;
    color: white;
    border-radius: 5px;
    border-style: none;
    width: 15%;
    height: 30px;
    font-weight: 900;
    cursor: pointer;
}


.gallery-section {
    text-align: center;
    padding-bottom: 100px;
}

.gallery-section h2 {
    margin-top: 60px;
    margin-bottom: 60px;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}
.gallery {
    display: flex;
    flex-direction: row;
    gap: 80px;
    justify-content: center;
}

.gallery-item {
    width: 150px;
}

.gallery-item img{
    border: 3px solid #3882f6;
    border-radius: 10px;
    min-width: 100%;
    min-height: 150px;
}

.gallery-item p {
    color: rgb(85, 85, 85);
    margin-top: 5px;
}

.testimonial {
    display: flex;
    flex-direction: column;   
    background-color: #E5E7EB;
    padding-top: 100px;
    padding-bottom: 100px;
}

.quote {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
}

.author {
    margin-left: auto;
    font-weight: 700;
}


.cta {
    background-color: #3882f6;
    margin-top: 150px;
    margin-bottom: 150px;
    margin-left: 300px;
    margin-right: 300px;
    padding-top: 50px;
    padding-right: 100px;
    padding-bottom: 50px;
    padding-left: 100px;
    border-radius: 10px;
    display: flex;
}

.cta-content {
    margin-right: auto;
    color: white;
}

.cta-content b {
    font-size: 25px;
}

